body {
  background-image: url("images/Streetskate.jpg");
  background-size: cover;
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  height: 100vh;
}
.container {
  max-width: 80%;
  background: white;
  border: solid black 4px;
  margin: auto;
  border-radius: 8px;
}
/* @font-face for changing fonts dynamically
@font-face {
  font-family: SmoothFont;
  src: url("Sundoes.otf");
} */
h2 {
  font-size: 50px;
}
h1 {
  font-size: 50px;
  text-decoration: underline white 2px;
}
button {
  border: none;
  padding: 4px 47px;
  color: white;
  font-size: 25px;
  font-weight: 700;
  border-radius: 4px;
  padding-bottom: 7px;
}

#increment-btn:hover {
  background: violet;
  cursor: pointer;
}
#increment-btn {
  background-color: purple;
}
#save-btn:hover {
  background: lightskyblue;
  cursor: pointer;
}
#save-btn {
  background-color: blue;
}
